body {
  display: flex;
  margin: 0;
  padding: 0;
  color: white;
}

.column-one, .column-three {
    flex: 1;
    background-color: #121212;
}

/* .column-one {
  
} */

.column-two {
  flex: 3;
  background-color: #212121;
}

/* .column-three {
  
} */
