body {
  margin: 0;
  padding: 0;
  color: #b3b3b3;
  font-family: "Montserrat";
  font-size: 12px;
}

main {
  display: flex;
}

.column-one {
  background-color: black;
}

.column-three {
  flex: 1.5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    rgb(18, 19, 19),
    rgb(53, 53, 52)
  );
}

.friends-text {
  font-weight: 700;
  color: white;
  font-size: 14px;
  text-align: center;
  line-height: 1.8;
}

.friends-button {
  text-align: center;
  padding-top: 50px;
}

button {
  border-radius: 25px;
  color: white;
  background-color: #212121;
  width: 90%;
  height: 30px;
}

.column-one {
  flex: 1;
  overflow: scroll;
}

.sidebar-content div {
  margin-top: 20px;
  padding-left: 20px;
  border-left: solid 4px black;
}

.sidebar-content div:hover {
  border-left: solid 4px #1db954;
}

.sidebar-content p {
  padding-left: 20px;
}

.column-one i {
  font-size: 30px;
  vertical-align: -10;
  padding-right: 10px;
}

.sidebar-content div:hover {
  color: white;
  cursor: pointer;
}

.column-two {
  flex: 5;
  background-color: #121212;
}

.library,
.playlists {
  padding-top: 10%;
}

.menu {
  font-weight: 700;
}

.library-menu {
  font-weight: 700;
}

main {
  height: 85%;
}

.sidebar-content {
  overflow: scroll;
  height: 90%;
}

.sticky {
  display: flex;
  height: 5%;
  align-items: center;
  padding-left: 5%;
  padding-top: 7%;
  border-top: solid 1px #303030;
}

footer {
  background-color: #282828;
  height: 15%;
  display: flex;
}

.browse-selected {
  border-left: solid 4px #1db954 !important;
}

.song-playing {
  flex: 1;
  display: flex;
}

.author-image {
  flex: 2;
}

.author-details {
  flex: 3;
  padding-top: 15px;
}

.author-details i {
  font-size: 16px;
  padding-top: 12px;
  padding-left: 12px;
}

.author {
  margin-top: 0;
}

.detail_one {
  display: flex;
}

.song {
  color: white;
}

.author {
  font-size: 10;
}

.listen-controls {
  flex: 3;
}

.settings {
  flex: 1;
  display: flex;
  padding-top: 12px;
}

.settings-icons {
  flex: 1.2;
  padding-top: 30px;
  padding-left: 15px;
}

.settings-icons i {
  font-size: 20px;
  padding: 0 0 0 20;
}

.sound-bar {
  flex: 1;
}

.sound-container {
  width: 80px;
  height: 4px;
  background-color: #535353;
  border-radius: 25px;
  margin-top: 38px;
  margin-left: 5px;
}

.sound-level {
  width: 40px;
  height: 4px;
  background-color: #b3b3b3;
  border-radius: 25px;
}

.play-length {
  border-radius: 25px;
  background-color: #b3b3b3;
  height: 5px;
  width: 60%;
  display: inline-block;
  vertical-align: 1;
  margin-left: 10px;
  margin-right: 10px;
}

.controls {
  padding-top: 20px;
  padding-left: 30%;
  padding-bottom: 10px;
}

.controls i {
  padding-left: 20px;
}

.selected {
  color: #1db954;
}
.progress {
  margin-left: 17%;
}

img {
  width: 60px;
  height: 60px;
  object-fit: fill;
  margin-top: 20px;
  margin-left: 20px;
}

.nav-bar {
  display: flex;
  padding: 10px;
}

.search {
  flex: 1;
  display: flex;
}

.upgrade {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.search-bar {
  display: grid;
}

input {
  border-radius: 25px;
  border: none;
  width: 120%;
  height: 20px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

::-webkit-input-placeholder {
  padding-left: 25px;
  color: black;
  margin-top: 20px;
}

.search-bar i {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;
  color: black;
  font-size: 16px;
  padding-left: 5px;
  padding-top: 3px;
}

.arrow {
  padding-right: 20px;
}

.upgrade-button {
  width: 120px;
  margin-right: 17px;
  background-color: #101010;
}

.profile-icon {
  padding-right: 20px;
  color: white;
}

.profile-icon i {
  vertical-align: -9;
  padding-right: 5px;
}

.browse {
  font-weight: 700;
  color: white;
  font-size: 40px;
}

.main-header-content {
  padding-left: 20px;
  padding-right: 20px;
}

.body-background {
  height: 73.5%;
  background-color: #181818;
  overflow: scroll;
}

.body-content {
  padding-left: 20px;
  padding-right: 20px;
}

.genre-selection {
  display: flex;
  padding: 20 0 10 0;
  justify-content: space-between;
}

.genres {
  font-weight: 700;
}

.genres:hover {
  cursor: pointer;
  color: white;
}

.selected-genre {
  background-color: #1db954;
  height: 1.5px;
  width: 30px;
  margin: 10 0 0 38;
}

.selected-title {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: 700;
  color: white;
  border-bottom: solid 0.1px #303030;
}

.genre-moods-selections {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.genre-and-mood {
  display: grid;
  height: 180px;
  width: 180px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.genre-and-mood img {
  height: 180px;
  width: 180px;
  margin: 0;
  object-fit: cover;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  opacity: 40%;
}

.genre-icon {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genre-icon i {
  color: white;
  font-size: 40px;
}

.genre-icon p {
  text-align: center;
  color: white;
  font-size: 15;
}
